@media only screen and (orientation: landscape){
	#works figure{
		width: 33.33vh;
		height: 33.33vh;
	}

	#works figure>div>*{
		width: 45vh;
		height: 45vh;
	}

	.diamond-back div{
		width: 40vw; 
		height: 40vh;
	}

	.diamond-back div div{
		height: 40vw;
	}

	#loader .diamond-back>div{
		height: 10vh;
	}
}

@media only screen and (max-width: 650px){
	#intro{
		padding:var(--margin-top) 0;
		justify-content: flex-start;
	}
	#intro>section{width: auto;height:auto;padding-top: inherit;max-width: 300px; padding-left: 40px; flex-grow:1;}
	#intro>section>div>div{height:auto; flex-direction: column;max-height:unset}
	#intro>section>div>div>div{
		overflow: visible;
		transform: none;
		width: 100% !important;
		display: inherit;
		flex-direction: inherit;
	}
	#intro>section>div>div>span{display: none;}
	#intro>section>div>div>div>p{
		position: relative;
		text-align: left !important;
		display: block !important;
		transform: inherit;
		padding-left: 0;
	}
	#intro>section>div>div>div>p+p{opacity: 0.5;}
	#intro>section>div>div>div:last-of-type{opacity: 0.25;}
	#intro div button{margin-top: 50px;}
	#logo-name{display: none;}
	#intro>section>div>div>span{
		width: 5px;
		height: 120%;
		transform: skew(-45deg) translateX(-5px);
		margin-left: 10px;
	}
	#intro>section>div>div>span::before{left: 5px;}
	#intro>section>div>div>span.from-left{margin-right: 15px;}

	#gallery header>*,
	#gallery .links{
		max-width: 100%; padding-left: 0; padding-right: 0;
	}
	#gallery header>p{text-align: left;}
	#alert{overflow: scroll;}
}

@media only screen and (min-width: 650px) and (orientation: portrait), 
only screen and (min-height: 650px) and (orientation: landscape){
	#works figure>div{
		width: 100%;
		height: 100%;
	}

	#works .focus figure>div,#works .gallery figure>div{
		width: 140%;
		height: 140%;
	}

	#gallery>div section{
		padding: 2rem;
		position: relative;
    	margin: 8vw 0;
	}

	#gallery header>p{
		margin: 0 0 8vw 0;
		font-size: 2.25vw;
	}

	#gallery>div section::before{
		content: "";
	    display: inline-block;
	    width: 50%;
	    background-color: #272b2d;
	    height: 100%;
	    position: absolute;
	    top: 0;
	    left: 0;
	    opacity: 0.65;
	    z-index: -10;
	}

	#gallery .links{
		margin-left: calc(50% + 15px);
	}
	.full.focus .diamond-back div div::after{width:110%; height: 110%;}
	.full.focus .diamond-back div div::before{width:120%; height: 120%;}
	.focus .diamond-back::after{
    	top: -5%;
    	height: 110%;
	}
}

@media only screen and (max-width: 767px){
	main .angle-back{display: none;}
	nav{z-index: 2000;}
	nav::after{right: 57px;}
	*:not(header)>p{
		font-size: 1.35rem;
	}

	h1{
		font-size: 11vw;
		line-height: 11vw;
	}

	h2{
		font-size: 9vw;
		line-height: 9vw;
	}

	#logo{
		width: 250px;
	}
	#logo svg:last-of-type{display: none;}

	#logo-group::before{
		left: var(--margin-side) !important; 
		transition: var(--trans-5);}

	#main-menu{
		width: 60px;
		transition: width 0s linear 0.5s;
	}
	#main-menu.menu-on{
		width: 100%;
		transition-delay: 0s;
	}
	/*TRANSITION MENU MOBILE*/
	#main-menu>#list-menu{
		text-align: right;
		height: 0rem;
		transition: width 0.25s ease-in-out 0.25s, height 0.15s ease-out 0.5s, margin-bottom 0s ease-out 0.75s ;
		transform-origin: bottom;
		padding-right: 3px;
		margin:0vh calc( var(--margin-side) / 2);
	}

	#main-menu>#list-menu ul{
		border-right: 3px solid #fff;
		position: relative;
		overflow-x: inherit;
		height: 100%;
	}

		#main-menu>#list-menu li{
			margin-bottom: 45px;
			margin-top: 0 !important;
		}
		
		#main-menu>#list-menu li[data-target*="works"]::before{margin-bottom: 15px;}
		#main-menu>#list-menu li[data-target*="works"]::after{margin-right: 15px;}

		#main-menu>#list-menu li p{
			line-height: 5.25rem;
			margin-right: 0;
		}

			#main-menu #list-menu li p::after{
				width: 0%;
				height: 3px;
			}

	#main-menu.menu-on>#list-menu{
		height: 18rem;
		margin-bottom: 0vh;
		transition: height 0.15s ease-out 0.25s, margin-bottom 0s ease-out 0s;
	}

		#main-menu.menu-on>#list-menu li p{
			line-height: 1rem;
			transition: margin 0.25s ease-in-out 0.5s, line-height 0.25s ease-in-out 0.65s;
			margin-right: 15px;
		}

		#main-menu.menu-on>#list-menu li p::after{
			height: 0px;
			width: 100%;
			transition: width 0.25s ease-in-out 0.4s, height 0.25s ease-in-out 0.7s; 
		}
		/*RESTE DE L'ANIMATION dans MAIN.CSS*/

	#main-menu footer>p{
		height: 0;
		opacity: 0;
		padding-right: 70px;
	}

		#main-menu.menu-on footer>p,
		#main-menu.menu-on #lang{
			opacity: 1;
			transition-delay: 0.25s;
		}

	#logo-group{
		height: 0;
		/*overflow: hidden;*/
		transition: var(--trans-25);
		transition-delay: 0.25s;
	}

		#main-menu.menu-on #logo-group{
			height: auto;
		}

	#lang{
		opacity: 0;
		width: 3rem; 
		font-size: inherit;
	}

	#lang li{
		font-size:1rem;
	}

		#lang li:hover span{
			transform: scaleY(0);width: 0;
		}

		#lang .lang-on::after{
			content:"";
			width: 100%;
			height: 2px;
			background-color: #fff;
			position:absolute;
			bottom: -2px;
			left: 0;
		}

	main{overflow: hidden;}
	main::before{bottom: 57px; height: calc( 100vh - 112px);}
	main::after{height: calc( 100vh - 112px);}

	#main-menu #list-menu svg{
		width: 0vw;
		height: 0vw;
	}

	.full{
		padding: 0 calc(var(--margin-side) + 25px);
	}

	.page-fixed{ padding:0; }

	button.close{
		position: fixed;
		bottom: 2rem !important;
    	top: unset !important;
    	right: unset !important;
    	left: var(--margin-side) !important;
    	margin: 0 !important;
	}

	.page-fixed .container::before{
		display:none;
	}

		.page-fixed .mask::after{
			height: 160px !important;
		}
		

	.container{
		padding: 0 !important;
		/*height:60%;*/
	}

	.wrapper{padding: 0 75px  !important;}

	.page-fixed .wrapper{
		overflow: scroll  !important;
		height: 100vh;
	}

	.title{
		padding: 0 0 5vw 0;
		width: 100%;
	}

		.title .data{
			display: flex;
			flex-direction: column;
		}

		.title .data .client{
			order: 2;
		}


	#works .gallery figure{
		transform: scale(0.5);
	}

	#works .figure{
		height: 50%;
		flex-grow: 0;
	}

	#works figure{
		margin-top: 50%;
		margin-bottom: 2rem;
		height: 20vw;
		width: 80%;
		    position: absolute;
	    bottom: 0;
	    left: 10%;
	}

	#works figure>div{
		width: 100% !important;
		height: 140%;
	}

		#works .focus figure>div, 
		#works .gallery figure>div{
			height: 225% !important;		
		}

	#works figure>div>*{
		width: inherit;
		height: 54vw;
		background-position: center;
	}

		#works figure, #works figure>div>*{transform: rotate(0deg) scale(1) translate(0);}

	#gallery{padding: 0 !important;}
	#gallery>button{display:none;}

	#gallery header{
		width: 100%;
	}

	#gallery header>p{font-size:3.25vw;}

	#gallery header .data *, #gallery .links{font-size: 3.25vw;}

	#works{
		padding-bottom: 80px;
	}
	#works .title h1{
		margin-top: 1rem;
	}

	#works .title h1,
	#works .title>div p{
		text-align: left !important;
		width: 100% !important;
	}
	.gallery-grid li, #gallery div.cover-img{
		margin-left: 0 !important;
	}

	button.gallery-btn{
		position: absolute;
    	bottom: 0;
    	left:0;
    	margin-bottom: -1rem;
	}

	.page-fixed .mask::after, 
	.page-fixed .mask::before{
		height: 120px;
	}

	.page-fixed .wrapper section:first-child {
	    padding-top: 160px;
	}
	.page-fixed h2{
		margin-left: 20px; 
		margin-bottom: 10px;
	}

	#credits{
		padding-top: 120px !important; 
		padding-bottom: 100px !important;
	}
}

@media only screen and (max-width: 450px) and (orientation: portrait),
only screen and (max-height: 450px) and (orientation: landscape){
	:root{
		--margin-side:35px;
		--margin-top:35px;
	}

	#main-menu{padding: 20px;}
	#main-menu>#list-menu li[data-target*="works"]::after{margin-right: 25px !important;}

	#main-menu>#list-menu li[data-target*="works"]::before{margin-bottom: 25px;}
	#logo {width: 190px;}

	#lang{
		margin-left: 0px !important;
	}

	button.close{
		bottom: 0.75rem !important;
		top: unset;
		left: var(--margin-side) !important;
		margin-left: 0;
	}

	.page-fixed h2{
		margin-left:15px;
	}

	.page-fixed.focus h2{
		height: 5rem !important;
	}

	.page-fixed .wrapper section:first-child {
	    padding-top: 100px;
	}

	.wrapper{padding: 0 60px  !important;}
	#main-menu.menu-on>#list-menu{height: 15rem;}
	#main-menu>#list-menu li{margin-bottom: 30px;}
}

@media only screen and (max-width: 530px){
	#share{
		padding: 0;
		overflow: hidden;
		height: 1rem;
	}

		#share:hover,
		#share:focus,
		#share:active{
			height: 15rem;
		}


	#share li{
		display: block;
		padding: 0.5rem;
		font-size:1rem;
	    background: #000;
	    position: relative;
	}

		#share li::before{
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			width: 3px;
			height: 100%;
			background-color: #fff;
			opacity: 0;
		}

		#share li span{
			width: auto;
			transform: scaleY(1);
			opacity: 1;
			margin:0;
		}
			#share li:hover::before{
				opacity: 1;
			}

	#share::before{
		content: attr(data-alt);
    	display: inline-block;
    	font-size: 0.65rem;
	}

	.title{
		padding-top: 0;
	}
	h1 span{display: none;}
	#secret h1 span{width: 100%; position: relative; display: block; color: transparent;}
	#secret h1 span::after{content: attr(data-alt); display: block; color: #fff; position: absolute; top: 0;left: 0;}
	
	#alert{padding: 0;}
	#alert h2{margin: 2rem 0;}

	.full:not(.page-fixed){
		max-height: 480px;
		padding-top:100px;
	}

	body:not(.loading) .diamond-back,
	body:not(.loading) .diamond-back::after{
		height: 100%;
		line-height: 480px;
		top: 0;
	}

	#credits{max-height: unset;}
}


@media only screen and (max-width: 320px){
	.full p{font-size: 1.1rem;}
	header, header p{font-size:1.25rem;}
	#list-menu .angle-back div{
	    border-right: transparent solid 170vw;
	}
	/*#intro p{
		font-size: 2rem;
		line-height: 2.25rem;
	}*/
	#about .wrapper section:first-child{padding-top: 110px;}
	#contact .links a{
		font-size: 1.15rem;
    	line-height: 0.75rem;}
	
	/*------*/
	#intro>section:last-of-type{
		padding-top: 0;
	}

	#intro>section:first-of-type{
		flex-grow: 1;
	    padding-top: var(--margin-top);
	}
	#intro>section>div{margin-bottom:0;}
	#gallery header>p{font-size: 1rem;}
}

@media only screen and (max-width: 960px){
	/*.gallery-grid{margin-top: 20px;}*/
	.gallery-grid li{
		/*width: 100%;*/
		margin-left: 0 !important;
		max-height: unset;
		/*margin-bottom: 20px !important;
		margin-top: 20px !important;*/
	}
	#gallery div.cover-img img{max-height: unset;}

	#gallery header{width: 100%;}
	#about .container{ padding-right: 100px;}
	#contact .container{ padding-left: 100px;}
}

@media only screen and (min-width: 768px){
	:root{
		--margin-side: 65px;
		--margin-top: 75px;
	}

	#main-menu{
		width: 100%;
		max-width: 1920px;
		height: 0;
		padding: 0;
		margin: auto;
		position: relative;
	}
	
	#main-menu footer,#logo-group{
		position: absolute;
		width: auto;
		display: block;
	}

	#main-menu footer>button{ display: none; }
	#main-menu footer p button{display: inline-block; margin-left: 5px;}
	
	#main-menu footer{
		bottom:0;
		left:0;
		padding: 15px var(--margin-side);
	}

		#main-menu footer p{display: block;}

	#main-menu .angle-back{display:none;}

	#main-menu>#list-menu{
		border: none;
	}

	#main-menu>#list-menu li{
		transition-property: line-height; 
		margin: calc( var(--margin-top) - 1.5rem) calc( var(--margin-side) - 1.5rem);

		position: absolute;
		display: block;
	}

			#main-menu>#list-menu li p{
				transition-delay: 0.5s;
			}

			#main-menu>#list-menu li.focus{cursor: default;}

			#main-menu>#list-menu li:not(.focus) div:hover p,
			#main-menu>#list-menu li.focus p{
				margin: 42px 0;
				transition-delay: 0s;
			}

				#main-menu>#list-menu li[data-target*="work"] div:hover p{
					margin: 0 42px;
				}

					#main-menu>#list-menu li[data-target*="work"].focus p{
						margin: 0 70px !important;
						transition-delay: 0s;
					}

					#main-menu>#list-menu li[data-target*="work"] p::after{
						display: none;
						left: 0;
					}

	/*HOME LABEL*/
		#main-menu>#list-menu li[data-target*="intro"]{display: none;}
	/*--------*/

		#main-menu>#list-menu li[data-target*="contact"]{
			top: -100vh; 
			right:0;
		}
		#main-menu>#list-menu li[data-target*="works"]{
			bottom: 0;
			right:0;
		}	

			#main-menu>#list-menu li[data-target*="works"] button{
				display:none;
			}

		#main-menu>#list-menu li[data-target*="about"]{
			bottom: 0;
			left:0;
		}

		#main-menu>#list-menu li.focus svg{
			transition-delay: 0s;
		}

			#main-menu>#list-menu li[data-target*="about"].focus svg{
				height: 480px;
    			/*right: -280%;*/
    			left: -230px;
    			bottom: -150%;
			    z-index: -1500;
			}

			#main-menu>#list-menu li[data-target*="contact"].focus svg{
				height: 400px;
				top: -40%;
			}

			#main-menu>#list-menu li[data-target*="works"].focus svg{
				height: 200px;
			}

				#main-menu li[data-target*="works"] div{
					margin-right: 25px;
				}

			#main-menu>#list-menu li[data-target*="about"].focus p,
			#main-menu>#list-menu li[data-target*="contact"].focus p{
				line-height: 5.25rem;
				transition: line-height 0.25s ease-in-out 0s;
			}

			#main-menu>#list-menu li[data-target*="about"].focus p::after,
			#main-menu>#list-menu li[data-target*="contact"].focus p::after{
				height: 3px;
				width: 0%;
			}

		#main-menu>#list-menu li[data-target*="contact"] p{
			transform:rotate(90deg) translate(10px,-95px);
			transform-origin: left;
		}

		#main-menu>#list-menu li[data-target*="about"] p{
			transform:rotate(-90deg);
			transform-origin: left top;
		}
	/*---LABEL---*/
	#main-menu li::after,
	#main-menu li::before,
	#logo-group::after,
	#logo-group::before{
		position: absolute !important;
	}

	#main-menu li[data-target*="about"]::before, 
	#main-menu li[data-target*="about"]::after, 
	#main-menu li[data-target*="works"]::before, 
	#main-menu li[data-target*="works"]::after{
		bottom: 2rem;
	} 

	nav #logo-group::after{
		left: 4.05rem;
	}

	#main-menu li[data-target*="about"]::before, 
	#main-menu li[data-target*="about"]::after{
		left: 1.5rem;
	}

	#main-menu li[data-target*="works"]::before, 
	#main-menu li[data-target*="works"]::after, 
	#main-menu li[data-target*="contact"]::before, 
	#main-menu li[data-target*="contact"]::after{
		right:1.5rem;
	}

	#main-menu li[data-target*="contact"]::after,
	#main-menu li[data-target*="contact"]::before{
		top: 1.5rem;
		
	}
	#main-menu #logo-group::before, 
	#main-menu #logo-group::after{
		top:4.7rem !important;
	}


	/*---NO SCROLL ACTIONS---*/
	.no-scroll nav #main-menu li::after,
	.no-scroll nav #main-menu li::before,
	.no-scroll nav #logo-group::before,
	.no-scroll nav #logo-group::after{
		transition:var(--trans-5) !important;
		transition-delay: 0.25s;
	}

	/*LOW-LEFT*/
	nav #main-menu li[data-target*="about"].focus::after{
		border-left-width:0px !important;
	}

	nav #main-menu li[data-target*="about"].focus::before,
	.no-scroll.about nav #logo-group::after{
		border-bottom: 0px !important;
		border-left-width: 3px;
		width:0px !important;

	}

		.no-scroll.about nav #logo-group::before,
		.no-scroll.about nav #main-menu li[data-target*="contact"]::before{
			border-bottom: 0px !important;
			height: 3px !important;
			background: #fff;
			width: 50vw !important;
			border-top-width: 0 !important;
			border-left: none !important;
			border-right: none !important;
		}

		.no-scroll.about nav #main-menu li[data-target*="works"]::after{
			border-right-width: 25vw !important;
		}
		.no-scroll.gallery-on nav #main-menu li[data-target*="works"]::after,
		.no-scroll.gallery-on nav #main-menu li[data-target*="about"]::after,
		.no-scroll.gallery-on nav #main-menu li[data-target*="contact"]::before,
		.no-scroll.gallery-on nav #logo-group::before{
			height: 0px !important;
			width: 0px !important;
			border-right-width: 25vw !important;
			border-top-width: 3px !important;
		}

	/*TOP-RIGHT*/
	nav #main-menu li[data-target*="contact"].focus::before{
		border-right-width:0px !important;
	}

	nav #main-menu li[data-target*="contact"].focus::after,
	.no-scroll.contact nav #main-menu li[data-target*="works"]::before{
		border-top: 0px !important;
		border-left-width: 3px !important;
		width:0 !important; 
	}
		.no-scroll.contact nav #main-menu li[data-target*="about"]::after,
		.no-scroll.contact nav #main-menu li[data-target*="works"]::after{
			border-bottom: 0px !important;
			height: 3px !important;
			background: #fff;
			width: 52vw !important;
			border-top-width: 0 !important;
			border-left-width: 0 !important;
			border-right-width: 0 !important;
		}

		.no-scroll.contact nav #logo-group::before{
			border-left-width: 25vw !important;
			height:0 !important;
		}

	/*CADRE SCROLL=VARIATIONS TOP + BOTTOM*/
	#main-menu #logo-group::before,#main-menu #logo-group::after,
	#main-menu #list-menu li::after,
	#main-menu #list-menu li::before{
		transition:none;
	}

	nav>#main-menu #list-menu li[data-target*="about"]::after,
	nav>#main-menu li[data-target*="works"]::after{
		height:var(--height-frame) !important;
		border-left-width: var(--width-frame);
		border-top-width: var(--height-frame-inv) !important;
	}

	
	nav>#main-menu li[data-target*="works"]::after{
		border-right-width: var(--width-frame) !important;
	}


	nav>#main-menu #logo-group::before,
	nav>#main-menu #list-menu li[data-target*="contact"]::before{
		height:var(--height-frame-cos);
		border-right-width: var(--width-frame-cos);
		border-top-width: var(--height-frame-inv-cos);
	}

	nav>#main-menu #logo-group::before{
		border-left-width:calc( var(--width-frame-cos) - var(--margin-side) - 125px ) !important;
	}

	.no-scroll.gallery-on nav>#main-menu #logo-group::before{
				border-left-width:calc( 25vw - 125px ) !important;
			}

	/*DISPARITION LI*/
	#main-menu #list-menu li[data-target*="contact"].focus p,
	#main-menu #list-menu li[data-target*="about"].focus p,
	#main-menu.menu-on>#list-menu li p{
		line-height: 5.25rem;
		transition: line-height 0.25s ease-in-out 0s;
	}

	#main-menu #list-menu li[data-target*="contact"].focus p::after,
	#main-menu #list-menu li[data-target*="about"].focus p::after{
		height: 3px;
		width: 0%;
	}

	/*MENU-WORKS*/
	aside#menu-works{
	 	right: 0;
	 	bottom: var(--margin-top);
	 	margin-right: -1.25rem;
	    width: 2.75rem;
	 	position: absolute;
	 	display: block;
	 	overflow: visible;
	 }

	 aside#menu-works li{
	 	display: block !important;
	 	margin: 18px 0 !important;
	 }

	#logo-group{
		top: -100vh;
	}

	#logo{
		position: relative;
		display: inline-block;
		top:0;
	}
	/*---LOADER---*/
	body.loading #logo .lttrc g g{
		animation: loadingC 1s ease-in-out;
		animation-iteration-count: 2;
	}

	#loader{
		padding:var(--margin-top) var(--margin-side) calc( 8px + var(--margin-top) );
	}

	#loader>div#frame::after,
	#loader>div#frame::before{
		content: "";
		display: block;
		position: absolute;
		bottom: 0;
		width: 0;
		height:var(--height-frame) !important;
		background-color: transparent;
		border-bottom: var(--height-frame-inv) solid #fff;
	}

	#loader>div#frame::after{
		border-left: var(--width-frame) solid transparent;
		right: 0;
		animation: loaderend 2s linear;
	}

	#loader>div#frame::before{
		left: 0;
		border-right: var(--width-frame) solid transparent;
		animation: loaderstart 0.25s linear;
	}
		@keyframes loaderstart{
			from{ border-right: 0 solid transparent; left: var(--width-frame); border-bottom: 0 solid #fff;}
			to{ border-right: var(--width-frame) solid transparent; left: 0; border-bottom: var(--height-frame-inv) solid #fff;}
		}

		@keyframes loaderend{
			0%{ border-left: 0 solid transparent; border-bottom: 0 solid #fff;}
			88.5%{ border-left: 0 solid transparent; border-bottom: 0 solid #fff;}
			100%{ border-left: var(--width-frame) solid transparent; border-bottom: var(--height-frame-inv) solid #fff;}
		}
	/*------*/

	#lang{
	    margin-left: -40px !important;
	    display: inline-block;
	    float: right;
	}
		#lang li{
		 	margin-left: 0; margin-right: 2px;
		}

	#share{
		position: absolute;
		top: -100vh;
	}

	#share, #lang{
		margin: calc(var(--margin-top) - 1.25rem) calc(var(--margin-side) + 1.5rem) 0 0;
	}

	/*------*/
	#about{bottom:0; top:unset;}
	#about .mask::after,
	#contact .mask::before{
		height: 200px !important;
	}

	.page-fixed .wrapper{
		overflow-y: hidden;
	}

		.page-fixed .wrapper article{
			padding-left: 32.5px;
		}

		.page-fixed .wrapper article p{
			padding-left: inherit;
		}

		.wrapper .mCSB_container{
			/*BECAUSE CUSTOM SCOLL BAR*/
			margin:0;
			max-width: 760px;
    		float: right;
		}

		.mCSB_scrollTools{
			z-index: 3000;
			margin: 160px 0;
		}

		.mCSB_scrollTools, .mCSB_scrollTools *{
			cursor: ns-resize !important;
		}

	#about button.close{
		left: 0;
		right: unset;
		margin: 15px;
	}

	#contact .close{bottom: 30vh;}
	#about .close{bottom: 60vh;}

	#contact header{
		top: 0;
		bottom: unset;
	}


	#contact h2{
		top: var(--margin-top);
		right: var(--margin-side);
		left: auto;
		bottom: auto;
	}

	#credits section{
		flex-direction: row;
		align-items: flex-end;
	}

		#credits section>article{
			width: 75%;
			position: relative;
			padding: 1rem 3rem 1rem 0;
		}
			#credits section>article:first-of-type::after{
			    content: "";
			    width: 75%;
			    height: 100%;
			    top: 0%;
			    right: 0;
			    background-color: #272b2d;
			    display: block;
			    position: absolute;
			    z-index: -10;
			}

		#credits section>article:last-of-type{
			border-right: none;
			width: 25%;
			padding: 1rem 0 1rem 3rem;
		}

	.client, .date{
		font-size: 1rem !important;
	}
}

@media only screen and (max-width: 960px) and (orientation: landscape){
	#main-menu>#list-menu li[data-target*="about"].focus svg{
		height: 300px;
		/*right: -160%;*/
		bottom: -60%;
		left:-140px;
	}

	#main-menu>#list-menu li[data-target*="contact"].focus svg{
		height: 250px;
    	top: 0;
	}

	.page-fixed .container{
		padding:0 var(--margin-side);
		background-color: #000;
	}

	.page-fixed .container::before, .mask{
		background-color: inherit;
	}
	.page-fixed.focus .container::before{
		opacity: 1;
	}

	.mask{
		padding: 0 15px;
	}

	.page-fixed .wrapper article{
		padding-left: 55px;
	}
}

@media only screen and (min-width: 961px){
		.page-fixed.focus button.close{
			margin-right: -30px;
		}

			.page-fixed>header{
			 	width: 50%;
			    right:50%;
			}

			#contact header{
				left: 50%;
				right: unset;
				/*bottom: : unset;
				top: 0;*/
			}

		#about.focus button.close{
			margin-left: -30px;
		}
		#share.focus{
			font-size:1.25rem !important
		}

		#intro section{max-width:595px;}
		#intro p{
			font-size: 7rem;
			line-height: 7.25rem;
		}


		#intro>section>div>div>span{
			height: 85%;
		    margin-left: 5px;
		    width: 10px;
		}

		#intro>section>div>div>span::before{left:10px;}

		#intro>section>div>div>span.from-left{
			transform:skew(-45deg) translateX(5px);	
			margin-right: 10px;
		}

			#about .mCSB_container{
		padding-left: 70px;
	}

	#contact .mCSB_container{
		padding-right: 70px;
	}
}

@media only screen and (max-width: 1640px){
	#works .full button.close{
		left: var(--margin-side);
	}
}

@media only screen and (min-width: 1280px) and (min-height: 730px){
	.page-fixed .wrapper .mCSB_container{
		padding-right: 160px;
	}

	/*#intro>section{
		max-width: 725px;
	}*/
	/*#intro p{
		font-size: 8.25rem;
		line-height: 8.5rem;
	}*/

	/*#intro>section>div>div>span{
		height: 115%;
		transform:skew(-45deg) translateX(-8px);
	}

		#intro>section>div>div>span.from-left{
			transform:skew(-45deg) translateX(-16px);	
			margin-right: 15px;
		}*/
}

@media only screen and (max-height: 530px){
	#intro div button{ margin-top: 30px;}
	aside#menu-works, #menu-works-trigger{display: none !important;}
	/*#works figure{margin-top: 20vh;}*/
	/*.figure{height: 25vh;}*/
	#lang{width: auto;}
	/*#intro>section{height: auto;}*/
	.page-fixed .mask::after, .page-fixed .mask::before {
	    height: 70px !important;
	}
}

@media only screen and (max-height: 910px) and (min-width: 768px){
	button.gallery-btn{ margin-bottom: -30px !important; }
	.title{padding: 3.25rem 160px;}
}

@media only screen and (max-height: 360px){
	nav::before{
		content:attr(data-device);
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #000;
		z-index: 4500;
		padding: 25px;
		box-sizing: border-box;
		padding: 20% 55px;
    	box-sizing: border-box;
	}
}

@media only screen  and (min-width: 1030px) and (orientation: landscape){
	h1 span{display: inline;}

	#share.focus{
		font-size: 1.5rem;
	}

	#gallery header > p{font-size: 1.75rem;}
}

@media only screen  and (min-width: 1290px) and (orientation: landscape){
	#about .mask::after, #contact .mask::before{
		display: none;
	}
	.wrapper .mCSB_container{
		float: none;
		margin: auto !important;
	}

	#gallery>div section,
	#gallery header>p{
    	margin:160px 0;
	}
}

@media only screen  and (min-width: 1600px){
	h1{font-size: 6.75rem; line-height: 7.25rem;}
	h2{font-size: 6rem; line-height: 7rem;}
}

@media only screen and (max-height: 850px) and (orientation: landscape){
	button.gallery-btn{
		/*margin-bottom: 3vh;*/
		display: none;
	}
}
@media only screen and (max-height: 630px) and (orientation: landscape){
	#list-menu .angle-back div{
		border-top: transparent solid 170vw;
	    border-right: transparent solid 140vw;
	}
	aside#menu-works li{margin: 6px 0 !important;}
}

@media only screen and (min-height: 730px){
	.angle-back.bottom div{
		border-image:linear-gradient(-65deg, transparent, transparent, #fff);
	}
}