/*MAIN CSS*/
@font-face {
    font-family: 'baron_bold';
    src: url('fonts/baron_neue_bold-webfont.html') format('woff2'),
         url('fonts/baron_neue_bold-webfont.woff') format('woff'),
         url('fonts/baron_neue_bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root{
	--margin-side: 45px;
	--margin-top: 65px;
	--trans-5: all 0.5s ease-in-out 0s;
	--trans-25: all 0.25s ease-in-out 0s;
	--width-frame: calc(52vw - 400px);
	--height-frame: 0;
	--height-frame-inv: 3px;
	--width-frame-cos: 52vw;
	--height-frame-cos:3px;
	--height-frame-inv-cos: 0;
}


body{
	overflow-x:hidden; 
	overflow-y:scroll; 
	width: 100%;/*si 100vw = problème de croll horizontal…*/
	margin: 0;
	padding: 0;
	font-family: 'baron_bold', Helvetica, Arial, sans-serif;
	font-weight: lighter;
	font-kerning: normal;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  	text-rendering: geometricPrecision;
	font-size: 1.85rem;
	text-transform: lowercase;
	color:#fff;
	background-color: #000;
}

body.no-scroll{
	overflow: hidden;
}

body>svg{fill: #fff; width: 0; height: 0; display: block;}

*{
	box-sizing: border-box;
}

h1{
	font-size: 7vw;
	line-height: 7vw;
	text-align: center;
	max-width: 960px;
}

	h1 span{display: inline-block;}

h2{
	font-size: 6vw; 
	line-height: 6vw;
	margin: 5rem 0;
	font-weight: 400;
	letter-spacing: 0.03rem;
}

h3{
	font-size:2.5rem;
	line-height:2rem;
	margin: 0 auto 1rem;
	font-weight: 400;
	position: relative;
	z-index: 1;
}

	h3:nth-of-type(n+2){margin-top: 5rem;}

	h3::before{
		content: "";
		display: block;
		position: absolute;
		bottom: -15%;
		left: -15px;
		padding-left: 15px;
		width: 100%;
		height: 50%;
		background-color: #272b2d;
		z-index: -1;
	}

h1, article, p, p span, figure, img{
	font-family: mrs-eaves, serif;
	font-weight: 400;
	font-style: normal;
	text-transform: initial;
	margin: 0px;
	padding: 0px;
}

.space{margin-left: .2rem;}

a, a *{
	color: inherit;
	text-decoration: underline;
}

	a span{display: inline-block;}

nav a{
	text-decoration: none;
	color: inherit;
}

.links a{
	font-size: 1rem;
}

ul{
	margin:0;
	padding:0;
}

li{
	list-style-type: none;
	display: block;
	position: relative;
}

main, 
footer{
	width: 100%;
	text-align: center;
	z-index: 10;
}

header{
	top:0;
	font-size: 2.5rem;
	margin-bottom: 3rem;
}

main{
	/*position: relative;*/ /*IMPOSSIBLE POUR DIAMOND BCKGROUND*/
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: auto;
	padding:0;
}

footer{
	bottom:0;
	text-align: left;
	align-self: flex-end;
	bottom:0;
}

	button, footer>p, 
	footer>p>*, 
	h2{
		font-family: 'baron_bold', Helvetica, Arial, sans-serif;
	}

.full{
	width: 100%;
	height: 100vh;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin: 0 auto;
}

	body>.full:last-of-type{
		padding-bottom: calc(var(--margin-top) * 2);
	}

		.full>*{
		    margin: auto;
		}

		.title{
			margin: 0 auto;
    		padding: 3.25rem;
    		display: inline-block;
    		position: relative;
		}

/*BUTTONS*/
button{
	border:none;
	background: none;
	outline: none;
	position: relative;
	display: block;
	text-decoration: none;
	color: #fff;
	cursor: pointer;
	transition: all 0.15s ease-in-out;
	padding: 2px 8px;
	z-index: 20;
	font-size: 0.8rem;
	line-height: 0.8rem;
	border-radius: 0;
	flex-shrink: 0;
	flex-grow: 0;
}
	
	button:not(.scroll-down)::after,
	button::before{
		content: "";
		position: absolute;
		border-left: 2px solid #fff;
		border-top: 2px solid #fff;
		border-bottom:2px solid #fff;
		width: 5px;
		height: 100%;
		top: -2px;
		left: 0;
		transition: inherit;
		transition-delay: 0s;
		z-index: -100;
	}

	button::after{
		left: auto !important;	
		right: 0;
		border-left:0px solid transparent !important;
		border-right:2px solid #fff !important;
	}

	button:hover::after,
	button:hover::before{
		width: 60%;
	}

	button:hover{
		background: #fff !important;
		color: #000;
		transition-delay: 0.05s;
	}

button.close{
	position: absolute;
	z-index: 2000;
	margin: 0 15px 0;
	right: 0;
	bottom: 50vh;
}

button.scroll-down{
	transform-origin:50%;
	transform: rotate(45deg);
	font-size: 1.5rem;
	padding: 0;
	width: 42px;
	height: 42px;
	overflow: hidden;
}

	
	button.scroll-down:hover,
	button.scroll-down:active{
		background: none;
	}
	
	button.scroll-down span{
		transform: inherit;
		display: block;
		padding: 0 0 3px;
	}

	button.scroll-down:before{
		width: 0%;
		height: 0%;
		border-left: none;
		border-top: none;
		border-bottom: none;
	}

	button.gallery-btn{
		margin: auto;
		margin-bottom: 40px;
	}

button.link::after,
button.link::before{
	border-right: none !important;
	border-left: none;
	border-top: none;
	width: 52% ;
}

button.menu-toggle{
	width : 40px;
	height : 40px;
	border: 3px solid #fff;
	float: right;
	position: relative;
	transition: all 0.15s ease-in-out 0.15s;
}

	button.menu-toggle::before,
	button.menu-toggle::after{
		width:100%;
		height: auto;
		top: 0;
		left: 0;
		color: #000;
		position: absolute;
		border: none !important;
		transition: inherit;
		font-size: 0.8rem;
    	padding: 0.3rem 0;
    	opacity:0;
	}

	button.menu-toggle::after{
		bottom: 0;
		top: auto;
	}

		.menu-on button.menu-toggle{
			color: transparent;
			background-color: #fff;
			transition-delay: 0.15s;
		}

		.menu-on button.menu-toggle::before,
		.menu-on button.menu-toggle::after{
			opacity: 1;
		}

button[title*="credits"]{
	padding-left:0;padding-right:0;
	font-size: inherit;
}

/*DIAMOND BACKGROUND*/
.diamond-back{
	width: 100%;
	height: 100vh;
	position: absolute;
	z-index: -1000;
	top: 0;
	left: 0;
	line-height: 100vh;
	transition: all 2s cubic-bezier(0.43, 0.27, 0.43, 0.97), transform 1s cubic-bezier(0.43, 0.27, 0.43, 0.97) 0.25s;
	text-align: center;
}
	
	/*VOLUME left-right*/
	.diamond-back::after{
		content:"";
		width: 50%;
		height: 80%;
	   	top: 10%;
		position: absolute;
		right:0;
		transition: inherit;
		transform-origin: left center;
		opacity: 0.5;
		background-image: linear-gradient(to right, #000, transparent, transparent);
	}

/*HALVES*/
.diamond-back div{
	vertical-align: middle;
	display: inline-block;
	position: relative;
	width: 60vw;
	height: 60vw;
	transition: inherit;
}

	.diamond-back div div{
		background-image: linear-gradient(-45deg, rgba(255,255,255,0.15), transparent, transparent);
		transform-origin: 50%;
		position: absolute;
		width: 100%;
		height: 100%;
		transition: inherit;
		transform: rotate(-135deg);
		top: 0;
		left: 0;
	}

		.diamond-back div div:last-of-type{
			top: auto;
			bottom: 0;
			transform: rotate(45deg);
		}

	.diamond-back div div::before,
	.diamond-back div div::after{
		content:"";
		position: absolute;
		top: 0;
		left: 0;
		width: 90%;
		height: 90%;
		background-image: inherit;
		opacity: 0.5;
		transition: inherit;
		transition-delay: 0.25s;
	}

	.diamond-back div div::after{
		width: 80%;
		height: 80%;
		opacity: 0.75;
	}

/*MENUS*/
nav{
	position: fixed;
	width: 100%;
	height:0;
	bottom:0;
	left: 0;
	z-index: 100;
}

nav>*{
	position: absolute;
	z-index: 100;
}

#main-menu{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	bottom:0;
	right:0;
	padding: 2.5rem 20px;
}

	#main-menu *:not(button, footer p, #lang){transition:all ease-in-out 0.5s;}
	
	#main-menu #list-menu, #lang{
		margin: 20px 23px;
		z-index: 1;
		text-align: right;
	}

	#main-menu #list-menu span{
		width: 100%;
		height: 100vh;
		display: block;
		bottom: 0;
		left: 0;
		z-index: -10;
		bottom: 0vh;
		transition: var(--trans-25);
	}

	#main-menu #list-menu li{
		margin: 6px 0;
		transition: all 0.25s ease-in-out 0s;
		cursor: pointer;
	}

		#main-menu #list-menu>ul>li{font-size: 1.5rem;}

		#main-menu #list-menu li p{
			font-size: 1.5rem;
			font-family: inherit;
			line-height: 1rem; 
			transition: var(--trans-25);
			transition-delay: 0.35s;
			display: inline-block;
			vertical-align: baseline;
		}

	#main-menu footer p, #main-menu footer p button{
		font-size: 0.65rem;
		line-height: 1.25rem;
		display: block;
	}

	#main-menu footer p button{padding:0;}
	
	#main-menu>#list-menu li div{position:relative;display: inline-block;}
	#main-menu>#list-menu li div>svg{
		position: absolute;
    	height: 130px;
    	transition-delay: 0.5s;
    	z-index:-100;
    	transition: left 0.25s ease-in-out 0s, bottom 0.25s ease-in-out 0s, height 0.25s ease-in-out 0.5s, right 0.25s ease-in-out 0.5s, transform 0.5s ease-in-out 0s;
	}
		#main-menu>#list-menu li[data-target*="contact"] div>svg{
			top: -50px;
	    	right: -40px;
		}

		#main-menu>#list-menu li[data-target*="works"] div>svg{
			bottom: -65px;
		    height: 150px;
		    right: -65px;
		    transition-delay: 0s;
		}

		#main-menu>#list-menu li[data-target*="about"] div{margin-bottom:8px;}
		#main-menu>#list-menu li[data-target*="about"] div>svg{
			height: 165px;
		    left: -100px;
		    bottom: -90px;
		    top: auto;
		}
	
/*INTERACTIONS MENUS*/
	#main-menu #list-menu li div:hover svg,
	#main-menu #list-menu li[data-target*="works"].focus svg{
		z-index: 1000;
	}

	#main-menu>#list-menu li p,
	.page-fixed h2{
		position: relative;
		overflow-y: hidden;
		height: 1.25rem;
		line-height: 1.25rem;
		z-index: 1000;
		transition: height 0.25s ease-in-out 0s, line-height 0.25s ease-in-out 0s, margin 0.25s ease-in-out 0.15s, bottom 0s ease-in-out 0.5s;
	}

		#main-menu #list-menu li p::after,
		.page-fixed h2::after{
			content:"";
			background: #fff;
			position: absolute;
			bottom: 0;
			right: 0;
			width: 100%;
			height: 0px;
			transition: width 0.25s ease-in-out 0.3s, height 0.25s ease-out 0s; 
		}

/*DISPARITION MENU LI*/
		#main-menu #list-menu li.focus p::after,
		#main-menu.menu-on>#list-menu li p::after,
		.page-fixed h2::after{
			height: 3px;
			width: 0%;
		}

/*CADRE*/
	#main-menu li::before, 
	#main-menu li::after{
		transition: var(--trans-25);
	}

	nav #logo-group::before,
	nav #logo-group::after,
	#main-menu #list-menu li:nth-of-type(n+2)::before, 
	#main-menu #list-menu li:nth-of-type(n+2)::after{
		content:"";
		position: fixed;
		z-index: -10;
		margin: 0;
	    height: 3px;
	    width: 0;
	    border-top: 0px solid transparent;
	    border-bottom: 0px solid transparent;
	}

		nav #logo-group::before,
		#main-menu #list-menu li[data-target*="about"]::after{
	    	border-left: 55vw solid #fff;
		}

		#main-menu #list-menu li[data-target*="works"]::after,
		#main-menu #list-menu li[data-target*="contact"]::before{
	    	border-right: 55vw solid #fff;
		}

	nav #logo-group::after,
	#main-menu #list-menu li[data-target*="about"]::before,
	#main-menu #list-menu li[data-target*="contact"]::after,
	#main-menu #list-menu li[data-target*="works"]::before{
		width: 3px;
		height: 0px;
	    border-top: 55vh solid #fff;
		border-left: 0vw solid transparent;
	}

	#main-menu #list-menu li[data-target*="about"]::before,
	#main-menu #list-menu li[data-target*="works"]::before{
		border-bottom: 55vh solid #fff;
		border-top: none;
	}


		nav #logo-group::before{
			left: calc( var(--margin-side) + 195px );
		}

		nav #logo-group::after,
		#main-menu li[data-target*="about"]::before,
		#main-menu li[data-target*="about"]::after{
			left: var(--margin-side);
		}

			#main-menu li[data-target*="contact"]::after,
			#main-menu li[data-target*="contact"]::before,
			#main-menu #logo-group::before,
			#main-menu #logo-group::after{
				top: var(--margin-top);
			}

		#main-menu li[data-target*="about"]::before,
		#main-menu li[data-target*="about"]::after,
		#main-menu li[data-target*="works"]::before,
		#main-menu li[data-target*="works"]::after{
			bottom: var(--margin-top);
		}

		#main-menu li[data-target*="works"]::before,
		#main-menu li[data-target*="works"]::after,
		#main-menu li[data-target*="contact"]::before,
		#main-menu li[data-target*="contact"]::after{
			right: var(--margin-side);
		}

/*MENU-WORKS*/
#main-menu>#list-menu li[data-target*="works"]>button{
	display: inline-block;
	font-size: 1rem;
	float: left;
	line-height: 1rem;
    margin-top: 5px;
    margin-right: 15px;
}

	#main-menu>#list-menu li[data-target*="works"]>button::after,
	#main-menu>#list-menu li[data-target*="works"]>button::before{display: none;}

aside#menu-works{
	overflow-y: hidden;
}
	aside#menu-works.active{
		margin-top: 15px;
	    margin-bottom: -15px;
	}

aside#menu-works ul{
	border-right: none !important;
	margin-top: -3rem;
	transition: var(--transition-5);
}
	
	aside#menu-works.active ul{
		margin-top: 0rem;
	}
	#main-menu.menu-on>#list-menu.active{
		height: 17rem;
	}

aside#menu-works li{
	margin: 18px 0 0 !important;
	cursor: pointer;
	opacity:0.5;
	transition: var(--trans-25);
	padding: 0 12px !important;
	position: relative !important;
	display: inline-block;
}

aside#menu-works li:first-of-type{display: none;}

aside#menu-works svg, aside#menu-works path{
	fill:#fff;
	height: 1rem !important;
	width: 100% !important;
	position: relative !important;
}

#main-menu aside#menu-works li:nth-of-type(odd){text-align: left;}

#main-menu aside#menu-works li.focus{opacity: 1;}

	#main-menu aside#menu-works li::after{
	    content: "";
	    position: absolute !important;
	    height: 150% !important;
	    width: 0% !important;
	    background: #272b2d;
	    display: block;
	    bottom: -25%;
	    left: 0;
	    z-index: -2000;
	    transition: var(--trans-25) !important;
	}
		#main-menu aside#menu-works li:hover::after{
	    	width: 100% !important;
		} 

	#main-menu aside#menu-works li:nth-of-type(2n+3):hover::after{
		width: 60% !important;
	}

/*ANGLES BACK*/
.angle-back{
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: 0;
	transition: all 0.5s cubic-bezier(0.63, 0.01, 0.22, 0.96) 0.45s !important;
	visibility: hidden;
}

	.angle-back div{
			border-image: linear-gradient(-45deg, transparent, transparent, #fff);
			border-image-slice: 100%;
			border-image-width: initial;
			z-index: -10;
			position: absolute;
			width: 0;
			height: 0;
			transition: bottom 0.25s ease-in-out 0s;
			border-top: transparent solid 100vh;
		}

		.angle-back div:nth-of-type(1){
			/*opacity: 0.5;*/
			transition-delay: 0.25s; 
		}
		.angle-back div:nth-of-type(2){
			transition-delay: 0.2s; 
		}

/*LEFT*/
.angle-back.left{
	left: 0;
}
	
	.angle-back.left div{
		left: -25vw;
		transform: rotate(45deg);
		border-right: none;
		border-left: transparent solid 100vw;
	}

/*RIGHT*/
.angle-back.right{
	right: 0;
}

	.angle-back.right div{
		right: -25vw;
		transform: rotate(45deg);
		border-left: none;
		border-right: transparent solid 100vw;
	}

/*TOP*/
.angle-back.top{
	top: -150vh;
}

.focus .angle-back.top{
	top: 0vh;
}
	.angle-back.top div{
		top: 0;
		border-image: linear-gradient(135deg, transparent, transparent, #fff);
	}

	.angle-back.top div:nth-of-type(1){
		top: 10vh;
	}

	.angle-back.top div:nth-of-type(2){
		top: 20vh;
	}

	.angle-back div:last-of-type{
		border-image: linear-gradient(135deg, transparent, transparent, #fff);
	}

/*BOTTOM*/
	.angle-back.bottom{
		bottom: -100vh;
	}

	.focus .angle-back.bottom{
		bottom: 0;
	}

	.angle-back.bottom div{
		bottom: 0;
		border-image: linear-gradient(-45deg, transparent, transparent, #272b2d);
	}
		.angle-back.bottom div:nth-of-type(1){
			bottom: 20vh;
		}
		.angle-back.bottom div:nth-of-type(2){
			bottom: 10vh;
		}


.angle-back.bottom.left div{
	transform-origin: top left;
}

.angle-back.bottom.right div{
	transform-origin: bottom left;
}

.angle-back.top.right div{
	transform-origin: bottom right;
}


#list-menu .angle-back div{
	border-top: transparent solid 170vh;
	border-right: transparent solid 170vw;
}

#list-menu .angle-back div:last-of-type{
	border-image: none;
	border-color: #272b2d;
}

#main-menu.menu-on #list-menu .angle-back div:nth-of-type(1),
.focus .angle-back div:nth-of-type(1){
	transition-delay: 0.15s; 
}

#main-menu.menu-on #list-menu .angle-back div:nth-of-type(2),
.focus .angle-back div:nth-of-type(2){
	transition-delay: 0.25s;
}

/*------*/

.page-fixed .angle-back{
	transition-delay: 0.3s !important;
}

.page-fixed.focus .angle-back{
	transition-delay: 0s !important;
	visibility: visible;
}

	/*#main-menu .angle-back{
		opacity: 0;
	}*/

		#main-menu.menu-on .angle-back{
			opacity: 1;
			bottom: 0vh;
			transition-delay: 0s !important;
			visibility: visible;
		}

/*PAGE-FIXED : CONTACT + ABOUT*/
.page-fixed{
	position: absolute; /*IMPORTANT POUR SUPERPOS AVEC IMAGE*/
	height: 0;
	top: 0;
	z-index: unset;
	overflow: visible;
	max-width: 1920px;
}

	.page-fixed.focus{display: block;}

.container{
	position: relative;
	left: 0;
	width: 100%;
	z-index: 10;
	padding: 0;
	margin: 0; /*IMPORTANT POUR TRANSITION GALLERY*/
	flex-grow: 0;
	transition: var(--trans-5);
	transition-delay: 0.75s;
}

		.page-fixed .container{
			top: 100vh;
			padding: 0 160px 0;
			position: fixed; /*IMPORTANT POUR SUPERPOS AVEC IMAGE*/
			max-width: 100%;
			height: 100vh;
			visibility: hidden;
		}

		.page-fixed .container::before{
			content:"";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100vh;
			background: #000;
			opacity: 0;
			transition: inherit;
			transition-delay: 0.35s;
		}

	.page-fixed.focus .container{
		top:  0px !important;
		transition-delay: 0s;
		visibility: visible;
	}

		.page-fixed.focus .container::before{
			opacity: 0.75;
		}

.mask{
	position: relative;
	width: 100%;
	max-width: 1500px;
	margin: auto;
}

		.page-fixed .mask::after,
		.page-fixed .mask::before{
			content:"";
			display: block;
			height: 150px;
			width:100%;
			left: 0;
			position: absolute;
			z-index: 1500;
		}

			.page-fixed .mask:before{
				top:0;
				background: linear-gradient(to bottom, #000, #000, transparent);
			}

			.page-fixed .mask::after{
			    bottom: 0;
			    background: linear-gradient(to top, #000,#000, transparent);
			}

.wrapper{
	position: relative;
	width: inherit;
	max-height: 100%;
	text-align: left;
	padding: 0 160px;
	margin: 0 auto;
}

		.page-fixed .wrapper{
			overflow: hidden;
			max-height: 100vh;
			background-color: #000;
		}

	.page-fixed>header{
	    position: fixed;
	    z-index: 300;
	    height: 0;
		max-width: 960px;
	   
	    width:100%; 
		right: 0; 
		top: unset; 
		bottom: 0;
	}

	.page-fixed h2{
		position: absolute;
		left: var(--margin-side);
		bottom: -100vh;
	    margin: 0;
	    padding: 0;	
	    padding-top: 20px;
	    height: 0rem;
		line-height: 12rem;
	    z-index: 300;
	}

		.page-fixed h2::after{
			height: 0.5rem;
		}

		.page-fixed .wrapper section+section{padding-top: 5rem;}
		.page-fixed .wrapper section:last-child{
			padding-bottom: 200px;
		}

		.page-fixed .wrapper section+section article p+p{
			padding-top: 1rem;
		}

		.page-fixed .wrapper article h3+p{
			color: #fff;
			opacity: 0.5;
		}

	/*H2 FOCUS*/
	.page-fixed.focus h2{
	    height: 6rem;
	    line-height: 4.5rem;
	    bottom: var(--margin-top);
	    transition: height 0.25s ease-in-out 0.25s, line-height 0.25s ease-in-out 0.25s, margin 0.25s ease-in-out 0.25s, bottom 0s ease-in-out 0s;
	}

		.page-fixed.focus h2::after{
			height: 0rem;
			width: 100%;
			transition: width 0.25s ease-in-out 0s, height 0.25s ease-in-out 0.25s; 
		}

		.page-fixed.focus button.close{
    		transition: background 0.15s ease-in-out 0s, width 0.15s ease-in-out 0s, margin 0.25s ease-in-out 0.5s;
		}

/*SPECIFIC*/
.loading{overflow: hidden;}

body.loading nav footer,
body.loading #lang,
body.loading #share,
body.loading #menu-works,
body.loading nav li,
body.loading main #works,body.loading main #about,body.loading main #contact,body.loading main #credits,
body.loading #logo-group::after,body.loading #logo-group::before{
	opacity: 0;
}

	body.loading #main-menu{max-width: unset;}

	body.loading #logo .cls-4 polygon{ 
		/*GRADIENTS*/
		transform: translate(18%, 17%);
	}

	body.loading #logo .house.cls-7,
	body.loading #logo .house.cls-11 *{
		transform: translateY(-40%);	
	}

	body.loading #logo .bckgrnd.cls-3{ transform: translateX(10%); }
	body.loading #logo .bckgrnd{opacity: 0;}
	
	body.loading #logo>svg:first-of-type{
		margin-left: calc( 50vw - 33%);
    	margin-top: calc(50vh - 30%);
    	transform: scale(1.5);
	}

	body.loading #logo .name g>g{
		transform:translateX(-100%);
	}

	body.loading #logo{cursor: default;}
	body.loading nav>#main-menu #logo-group::before{ left: var(--margin-side); border-left-width :55vw !important;}

	body.loading #logo .lttrc g g{
		animation: loadingC 1s ease-in-out;
		animation-iteration-count: 2;
	}

		@keyframes loadingC{
			0%{ transform: rotate(0deg); }
			100%{ transform: rotate(1turn); }
		}

		body.loading #logo .cls-13{
	    	opacity: 0;
		}

	body.loading #logo .lttrc g circle:nth-of-type(1){
		stroke: #fff;
	    stroke-width: 6px;
	    stroke-dasharray: 275;
	    stroke-dashoffset: 0;
	    stroke-miterlimit: 10;
	    transform: rotate(50deg) scale(1);
	    transform-origin: 58% 50%;
	    opacity: 1;
	}

	body.loading #intro section{ opacity: 0; }

	@keyframes heightloader{
		0%{height: 0%;}
		25%{height: 0%;}
		100%{height: 100%;}
	}
#loader{
	padding: var(--margin-top) var(--margin-side);
	height: 100%;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	min-height: calc((2 * var(--margin-top)) + 3px);
	animation: heightloader 0.75s linear; 
}
	#loader::before{
		content:"";
		display: block;
		height: 100vh;
		width: 100%;
		bottom: 0;
		left: 0;
		position: fixed;
		background-color: #000;
		z-index: -1000;
	}

#loader .diamond-back{
	position: inherit;
	top: 0;
}
		@keyframes loaderend{
			0%{ width: 0;}
			75%{ width: 0;}
			100%{ width: 100%;}
		}

	#loader>#frame::after,
	#loader>#frame::before{
		content: "";
		display: block;
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 3px;
		right: 0;
		background-color: #fff;
		animation: loaderend 2.25s ease-in-out;
	}

	#loader>#frame,
	#loader>#frame div{
		width: 100%;
		height: 100%;
		transition: inherit;
		position: relative;
		left: 0;
		top: 0;
		border: #fff 0 solid;
		border-top-width: 3px;
		border-right-width: 3px;
		border-left-width: 0;
		animation-iteration-count: 1;
	}

	#loader>#frame{
		border-left-width: 3px;
		border-top-width: 0;
		border-right-width: 0;
		max-width: 1790px;
		margin:auto;
	}

		@keyframes widthloader{
			0%{width: 0%;height: 0%; border-top-width: 0;}
			45%{width: 0%;height: 0%;border-top-width: 0;}
			46%{ border-top-width: 3px;}
			75%{width: 100%;height: 0%;}
			100%{width: 100%;height: 100%;}
		}
		#loader>#frame div{
			animation: widthloader 1.75s linear;
		}


/*------*/
#works{
	width: inherit;
}

#share, #lang, #menu-works{
	text-align: right;
	font-size:0.85rem;
	z-index: 3000;
}

#share{
    display: inline-block;
    position: fixed;
    float: right;
    top: 0;
    right: 0;
    width: auto;
    transition: height 0.25s ease-in-out;
    padding: 0;
    margin:calc(var(--margin-top) - 1.5rem) var(--margin-side);
}

#share li, 
#lang li{
	font-size:inherit;
	cursor: pointer;
	display: inline-block;
	margin-left: 2px;
}

	#share li span,
	#lang li span{
		text-decoration: none;
		display: inline-block;
		vertical-align: bottom;
		transform: scaleY(0);
		transform-origin: bottom;
		opacity:0;
		width: 0;
		transition: transform 0.15s ease-in-out, width 0s ease-in-out, opacity 0.15s ease-in-out;
	}

	#share li:hover span,
	#lang li:hover span,
	#share.focus span{
		width: auto;
		transform: scaleY(1);
		opacity: 1;
		margin:0;
	}

#lang li{opacity: 0.5;}

#lang .lang-on{
	opacity: 1;
	position: relative;
}

body.contact #works .project,
body.about #works .project,
body.contact #intro,
body.about #intro{
	z-index: 0;
}

/*CONTACT*/
#contact .container{
	top: -100vh;
}
	
	#contact .wrapper{
		padding-left: 0;
	}

		#contact .mCSB_container{
			padding-top: 200px;
		}

		#contact .mCSB_scrollTools{
			margin-top: 200px;
		}

			#contact button.close{
				top: 60vh;
				bottom: unset;
			}

			#contact .full::before{height:250px;}
			#contact .full::after{height:150px;}

	#contact .links{margin-top: 20px;}
	#contact .links a{font-size: 2.5rem;}

/*ABOUT*/
#about{
	padding-bottom: 0;
}

	#about .wrapper{
		padding-right: 0;
	}

		#about .wrapper section:first-child{
			padding-top: 160px;
		}

#about h2::after{
	left: 0;
	right: auto;
}

/*CREDITS*/
body.contact #credits,
body.about #credits{
	z-index:-10;
	transition-delay: 0s;
}

#credits{
	align-items: flex-start;
	z-index: 0;
	padding: 250px 0 120px;
	margin: auto;
	height: auto;
	z-index:0;
	transition-delay: 2s;
}

	#credits,
	#credits .wrapper{
		overflow: visible !important;
	}

#credits h2{
	margin: 0;
}

#credits section{
	display:flex;
	flex-direction: column;
	justify-content: flex-end;
	padding-bottom: inherit;
	margin: 0;
}

	#credits article{
		margin: 25px 0;
	}

	#credits section>article:last-of-type{
		font-size: 1.25rem;
	}

	#credits p+p span{
		display: block;
		padding: 5px 0;
		font-size: 1rem;
		vertical-align: baseline;
		position: relative;
	}
		#credits p+p span a { 
			background-color: #000; 
			padding:5px;
			display: inline-block;
			text-decoration: none;
		}

		#credits p+p span:first-of-type{
			font-family: baron_bold;
			margin-top: 10px;
		}

		#credits p+p span::after{
			content: attr(data-fonderie);
			top: 2rem;
			width: 100%;
			left:0;
			font-family: mrs-eaves, serif;
			/*font-size: 0.85rem;*/
			display: block;
			opacity: 0.5;
		}

		#credits p+p span:active::after,
		#credits p+p span:hover::after{
			opacity: 1;
		}

/*LOGO*/

#logo-group{
	position: relative;
	top: 0;
	bottom: auto;
	left: 0;
	z-index: 1500;
}

#logo{
	position: fixed;
	top: inherit;
	bottom: inherit;
	left: inherit;
	padding: 8px;
	max-width: 300px;
	z-index: 0;
}

#logo svg:first-of-type{
	cursor: pointer;
	width: 55%;
	height: 100%;
}

#logo svg:last-of-type{
	cursor: pointer;
	margin: 0 0 17% -14% ;
	width: 45%;
	height: 100%;
}

/*INTRO*/
#intro{
	justify-content: flex-end;
	max-height: 100vh;
}
	#intro p{
		z-index: -100;
		margin:0;
		text-align: left;
		font-size:12vw;
		line-height: 13vw;
		height: 13vw;
		max-height: 8rem;
		overflow: hidden;
		white-space: nowrap;
	}

#intro>section{
	display: inherit;
	flex-direction: column;
	/*max-width: 480px;*/
	max-width: 65vw;
	width: 100%;
	height: 33.33%;
	margin: 0 auto;
	flex-grow: 0;
}
	
#intro>section:last-of-type{
	padding: 5vh 0 var(--margin-top);
}

	#intro>section>*{
		margin: auto;
		flex-grow: 0;
    	flex-shrink: 0;
	}

	#intro>section>div{
		cursor: ew-resize;
		width: inherit;
	}

	#intro>section>div>div{
		width: inherit;
		position: relative;
		display: flex;
		flex-direction: row;
		max-height: 8.75rem;
		/*overflow: hidden;*/
		height: 18vw;
	}

	#intro>section>div>div>div{
		position: relative;
		overflow-x: hidden;
		z-index:-100;
	}

		#intro>section>div>div>div p:first-of-type{display: block;}
		#intro>section>div>div>div p:last-of-type{display: none;}

		#intro>section>div>div>div.switch p:first-of-type{display: none;}
		#intro>section>div>div>div.switch p:last-of-type{display: block;}

	#intro>section>div>div>div:first-of-type{
		width: 50%;
	}

	#intro>section>div>div>div:last-of-type{
		flex-grow: 1;
	}

	#intro>section>div>div>*{
		transform: skewX(-45deg);
	}
	
	#intro>section>div>div>div>p{
		transform: skewX(45deg);
		position: absolute;
		left: 0;
		top: 0;
		padding: 0 30px;
	}
		#intro>section>div>div>div:nth-of-type(2)>p{
			right: 0;
			left: auto;
			text-align: right;
		}

	#intro button.scroll-down{
		margin-bottom: 0;
	}

	/*SEPARATEUR*/
		#intro>section>div>div>span,
		#intro>section>div>div>span::before{
		}
		
		#intro>section>div>div>span{
		    height: 75%;
		    margin-left: 12px;
		    width: 6px;
		    margin-top: 1%;
		    background: #fff;
		    flex-grow: 0;
		    flex-shrink: 0;
		    transform:skew(-45deg) translateX(10px);
		    transition:var(--trans-25);
		    transition-property: margin, height;
		}

		#intro>section>div>div>span::before{
			position: absolute;
			content: "";
			height: 100%;
			top: 0;
			left: 8px;
			width: 110px;
			opacity: 0.85;
			background-image: linear-gradient(to right, #000, transparent);
    		transform-origin: left;
			transform: rotateY(0deg);
			transition: inherit;
		}

			#intro>section>div>div>span.from-left{
		    	margin-left: 0;
		    	margin-right: 8px;
			}

			#intro>section>div>div>span.from-left::before{
				transform: rotateY(-180deg);
				left: 0px;
			}

#secret *:not(button){  cursor: help; }

/*PROJETS*/
.project .title{cursor: pointer;}

#works .title>div p,
.client, .date{
	display: inline-block;
	width: 50%;
	font-family: inherit;
	font-size: 2.5vw;
	opacity: 1;
	transition: opacity .25s ease-in-out .5s;
}

	.data{
		text-align: left;
	}

	.client{
		text-align: left;
		text-transform: lowercase;
	}

	.date{
		text-align: right;
		text-transform: lowercase;
	}

	.figure{
		margin: 0;
		width: 100%;
		height: 56.66%;
		position: relative;
		transition-property: height, flex-grow;
		transition-duration: 0.5s, 0.5s;
		transition-delay: 0.5s;
		transition-timing-function: ease-in-out;
		flex-grow: 1;
	}

	#works figure{
		background-size: auto;
	    height: 33.33vw;
	    width: 33.33vw;
		position: relative;
		transform: rotate(45deg) scale(1);
		cursor: pointer;
		transition: inherit;
		transition-property: transform, opacity;
		display: inline-block;
		vertical-align: middle;
	    margin: 33.33vh auto 0;
	    background-color: #272b2d;
	}


	#works figure>div, 
	#works figure:before{	
		overflow: hidden;
		position: absolute;
		width: 130%;
		height: 130%;
		right: 0;
    	bottom: 0;
		transition: all 2s cubic-bezier(0.43, 0.27, 0.43, 0.97); 
	}
		#works figure::before{
			content:"";
			height: 100%;
			width: 100%;
			background-image: linear-gradient(to bottom right, #fff, transparent);
			opacity: 0.5;
		}

	#works figure>div>*{
		transform: rotate(-45deg) translate(50%,5%);
		transform-origin: bottom right;
		height: 45vw;
		width: 45vw;
    	transition: inherit;
    	transition-delay: inherit;
    	background-size: contain;
    	background-repeat: no-repeat;
    	background-position: top left;
    	display: block;
	}

/*GALLERY*/
	#works .gallery .figure{
		flex-grow: 0;
		height: 50px;
		transition-delay: 0.7s;
	}	

	#works .gallery figure{
		transform: rotate(45deg) scale(0.5);
		opacity: 0;
		transition-delay: 0.15s;
	}

#works .gallery .diamond-back{
	transition-duration: 0.75s;
	transition-delay: 0s;
	opacity: 0;
	overflow: hidden;
}

	#works .gallery .diamond-back>div, 
	#works .gallery .diamond-back::after{
		transform: scale(1.5);
	}

	#works .gallery button.gallery-btn, #works .gallery .title>div p{
		opacity: 0;	
	}

.gallery{
	overflow: scroll;
	min-height: 100vh !important;
	max-height: unset !important;
	margin-top: 0;
	top: 0;
	padding-top: 0 !important;
	background-color: #000;
	z-index: 80;
}

	#works .full button.close{
		display: none;
		position: fixed;
		left: unset;
    	right: unset;
	}

#gallery{
	height: 0; /*IMPORTANT POUR EVITER LE SAUT AU PASSAGE => .GALLERY*/
	width: 100%;
	margin: 0 auto;
	display: block;
    flex-shrink: 0;
    opacity: 0;
    max-width: 1920px;
    transition: var(--trans-5);
}
	
	.gallery button.close{
		display: block !important;
	}

	.gallery .container{
		min-height: 0;
	}

	.gallery #gallery{
		opacity: 1;
	}

	#gallery>div,
	#gallery header{
		text-align: left;
		margin: auto;
		position: relative;
	}

	/*	#gallery header{
			width: 50%;
		}*/

		#gallery>div:last-of-type{
		    margin-bottom: var(--margin-top);
		    padding-bottom: var(--margin-top);
		}

		#gallery header>*,
		#gallery .links{
			font-size: 1.25rem;
			font-family: inherit;
			padding:18px 0;
			margin: auto;
    		text-align: center;
			text-transform: lowercase;
		}

		#gallery header>p{
			font-size: 1.75rem;
			margin-bottom: 12vw;
		}

		#gallery>div section{
			margin: 0 auto 12vw;
			max-width: 1280px;
		}

		#gallery>div p{padding-top: 1.85rem;}

	#gallery .links li{
		text-align: left;
		font-size: 1rem;
		margin-top: 1rem;
	}

	#gallery div.cover-img{
		text-align: center;
		position: relative;
		cursor: pointer;
		padding: 0;
		box-sizing: content-box;
		line-height: 0;
	}

		#gallery div section+.cover-img{
			margin-top:  50px;
		}


.gallery-grid li{
	position:relative;
	cursor: pointer;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	box-sizing: content-box;
	line-height: 0;
}

/*.cover-img img,*/
.gallery-grid li img,
#gallery div.cover-img img{
	object-fit: contain;
	width: initial;
	height: initial;
	max-width: 100%;
}

	.gallery-grid li:first-of-type::before,
	.gallery-grid li:last-of-type::before{
		height: 66.66%;
	}

	.gallery-grid li:first-of-type::before{bottom: 0; top: unset;}

	#gallery div.cover-img::after,
	.gallery-grid li::after{
		content: "";
		position:absolute;
		width: 100%;
		height: 100%;
		display: block;
		background-color: #000;
		opacity: 0;
		top: 0;
		left: 0;
	}

		.gallery-grid *:hover::after,
		#gallery div.cover-img:hover::after{
			opacity: 0.35;
		}

/*IMAGE ZOOM*/
.img-zoom{
	top: 0;
	left: 0;
	height: 100%;
	max-width: 100%;
	background-color: rgba(0,0,0,0.85);
	justify-content: center;
	z-index: 7000;
	position: fixed;
	cursor: pointer;
}

	.img-zoom img{
	    max-height: 95%;
	    max-width: 95%;
	    height: auto;
	    width: auto;
	    object-fit: contain;
	    display: block;
	}

	.img-zoom button{
		position: absolute;
		top: var(--margin-top);
		left: var(--margin-side);
		bottom: auto;
		margin-top: 90px;
	}

/*ALERT*/
#alert{
	position:fixed;
	bottom: -50px;
	height: 100vh;
	max-height: 100vh;
	bottom: 0;
	left: 0;
	padding: 0;
	z-index: 4500;
	overflow: hidden;
	display:none;
	opacity: 0;
}

#alert h2 {
    position: relative;
    display: inline-block;
	z-index: 10;
}

	#alert h2::before{
		content: "";
	    position: absolute;
	    top: -60%;
	    left: -25%;
	    z-index: -10;
	    width: 150%;
	    height: 120%;
	    background-color: #ff1e30;
	    z-index: -10;
	}

	#alert h2::after {
	    content: attr(data-alt);
	    display: block;
	    position: absolute;
	    top: 100%;
	    right: 0;
	    font-size: 1rem;
	    line-height: 1em;
	}

	#alert.alert-on{
		display: flex;
		opacity: 1;
	}

	#alert::before{
		opacity: 0.75;
		content:"";
		width:100vw;
		height:100vh;
		display: block;
		top: 0;
		left: 0;
		background-color: #272b2d;
		position: absolute;
		z-index: -100;
		transition: inherit; 
	}

	#alert section{
		margin: auto;
		max-width: 768px;
		width:100%;
		background: #000;
		padding:60px;
		transition: var(--trans-25);
		overflow: scroll;
	}
		#alert p{text-align: left; color:#fff;}

		#alert footer{
			text-align: center;
			padding-bottom: 20px;
		    border-bottom: 10px solid #ff1e30;
		}

			#alert footer button{
				display: inline-block;
				margin: 45px 15px 15px;
			}